// Custom styles for the Bootstrap 'Cover' template
@import "cover";

$default-text-color:            #fff;
$background-color:              darken(#535353, 5%);
$masthead-background:           rgba(0,0,0,0.0);
$masthead-color-background:     #3c3c3c;
$modal-color:                   #47525e;

$flat-green:                    #1d9c72;
$flat-red:                      #eb575c;
$flat-yellow:                   #f1ca7b;
$flat-blue:                     #019f9c;